<div class="footer py-5">
    <div class="container">
        <div class="row text-white">
            <div class="col-sm-6">
                <h2>We are Here to Serve..</h2>
                <p>We need to tell you somethings about us</p>
                <a href="https://www.facebook.com/mahmoud.hesham.9847/" target="blank" class="mr-3 blue" >Facebook</a>
                <a href="https://twitter.com/Mahmoud48860079" target="blank" class="mr-3 bluewhite" >Twitter</a>
                <a href="https://www.instagram.com/hesha.cr7/" target="blank" class="red" >Instagram</a>
            </div>
            <div class="col-sm-6">
                <h2>My Name Is Mahmoud Hesham</h2>
                <p>And This is my First Angular Project</p>
            </div>
        </div>
    </div>
    
</div>