<div class="myBody">
    <div class="container">
        <h2 class="text-white mb-3">Sec1</h2>
        <div class="myForm">
            <div class="form-group">
                <input id="name" name="Name" placeholder="Your Name*" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <input id="mail" name="Email" placeholder="Your Email*" type="email" class="form-control" />
            </div>
            <div class="form-group">
                <input id="phone" name="Phone" placeholder="Your Phone*" type="tel" class="form-control" />
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="Your Message*"></textarea>    
            </div>
            <button class="float-right btn btn-primary">Submit</button>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
