<div class="myBody">
    <div class="m-auto text-center w-75">
        <h1>Who Am I?</h1>
    </div>
    <div class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <H2>Mahmoud Hesham Mohamed</H2>
                    <p><b>Faculty: </b>Computer Science</p>
                    <p><b>University: </b>Ain Shams University</p>
                    <p><b>Age: </b>23 Years</p>
                    <p><b>Email: </b>mahmoud.hesham693@gmail.com</p>
                    <p><b>Address: </b>21 Mohamed El Gendy St. El-Sharabya.</p>
                </div>
                <div class="col-sm-4">
                    <img class="img-fluid rounded-circle" src="../../assets/images/mahmoud.jpg" />
                </div>
                <div class="col-sm-4">
                    <h2>HOPES</h2>
                    <p>I'm a Fresh Graduate Frome Computer Science 
                        Ain Shams Uni. I have Just Finished my Military Service 
                        in December 2019 and now i'm working on improve my skills
                        in WEB Development in ROUTE Center Academy. <br/>
                        I'm now Serching on a new Job as a Front-End Developer
                        if you can help me email me on mahmoud.hesham693@gmail.com
                        and you can see my Portfolio on: 
                        <span (click)="goToPortfolio()">MyPortfolio</span> <br/>
                        Thanks in Advance.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>