<div class="navbar">
    <div class="logo">
      <img src="../../assets/images/logo (1).png" class="img-fluid rounded-circle" />
    </div>
    <div class="anchors">
      <ul>
        <a routerLink="home" >
          <li routerLinkActive="test">
            Home
          </li>
        </a>
        <a routerLink="about">
          <li  routerLinkActive="test">
            About US
          </li>
        </a>
        <a routerLink="contact" >
          <li routerLinkActive="test">
            Contact US
          </li>
        </a>
        <a routerLink="gallery" >
          <li routerLinkActive="test">
            Gallery
          </li>
        </a>
      </ul>
    </div>
  </div>