<div class="myBody">
    <div class="m-auto w-75 text-center">
        <h1>Home Page Welcomes You</h1>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-6">
                <h2>Angular <span>#SPA</span></h2>
                <p class="mt-5 pr-4">Hello Guys, Today we will talk
                    about <span>ANGULAR</span> .<br/> Angular is using 
                    <span>SPA</span> Technique which is called Single
                    Page Application and it helps to make the user comfort
                    when using the website, Because it doesn't make the page 
                    reloads in each click on another tap.
                    and this is very comfort for the user's eyes. <br/>
                    Is that only the thing that makes <span>ANGULAR</span>
                    is a good Framework? <br/>
                    Ofcourse Not, Its a good Framework for the Developers too
                    because it helps the developer to struct the project in a good way.
                </p>
            </div>
            <div class="col-sm-6">
                <img src="../../assets/images/1566836041.jpg" />
            </div>
        </div>
    </div>
</div>